* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --font-stack: 'Poppins', sans-serif;

    --purple: #5f5ccf;
    --grey: #9ba9b4;
    --pink: #e850aa;
    --white: #ffffff;
    --bg-color: #1a1a1a;
}

body {
    font-family: var(--font-stack);
    background-color: var(--bg-color);
    color: var(--white);
}

/* Index.html */
.main-index img {
    display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }